<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Topik Seru</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="#">Blogging</a></li>
            <li><a target="blank" href="#">Internet</a></li>
            <li><a target="blank" href="#">Bussines</a></li>
            <li><a target="blank" href="#">Web Design</a></li>
            <li><a target="blank" href="#">Open Source</a></li>
            </ul>
        </div>

        <div class="sidebar-section">
            <h5><span>Update Lewat Email</span></h5>
            {% include newsletter.html %}
        </div>
            
        <div class="sidebar-section">
             <h5><span>ye! Recommended</span></h5>
           <a href="https://panel.niagahoster.co.id/ref/21997" target="_blank"><img src="https://panel.niagahoster.co.id/banners/Set5-niagahoster-300x250.png" alt="Hosting Unlimited Indonesia" border="0" width="300" height="250" /></a>
        </div>
            
</div>