   <!-- Begin Footer
    ================================================== -->
    <footer class="footer">

        <div class="container">

            <div class="row">
                <div class="col-sm-3">
                <div class="footer-widget">
                <a href="{{site.baseurl}}/contact">
                <img src="{{ site.baseurl }}/assets/images/akungeblog.png">
                </a>
                </div>
                </div>

                <div class="col-sm-3">
                <div class="footer-widget">
                <h5 class="title">+ Menarik</h5>
                <ul>
                <li><a target="_blank" href="#">Panduan <strong>Ngeblog</strong> Ala <strong>Pro</strong></a></li>
                <li><a target="blank" href="#">Tips Seputar <strong>Web</strong> + <strong>Desain</strong></a></li>
                <li><a target="blank" href="#"><strong>Ide</strong> Memulai <strong>Berbisnis</strong></a></li>
                <li><a target="blank" href="#"><strong>Motivasi & Inspirasi</strong> Pagi</a></li>
                <li><a target="blank" href="#">Seputar <strong>Updatan Terbaru</strong></a></li>
                </ul>
                </div>
                </div>

                <div class="col-sm-3">
                <div class="footer-widget">
                <h5 class="title">? Ngeblog</h5>
                <ul>
                <li><a target="_blank" href="#">Kenapa <strong>Harus Ngeblog</strong>?</a></li>
                <li><a href="#"><strong>Enaknya Ngeblog</strong> pakai apa?</a></li>
                <li><a href="#">Bisa <strong>Pasang Iklan</strong> Gak?</a></li>
                <li><a href="#"><strong>Hubungi</strong>nya Gimana?</a></li>
                <li><a href="#"><strong>Siapa aja</strong> Dibalik ini ?</a></li>
                </ul>
                </div>
                </div>

                <div class="col-sm-3">
                <div class="footer-widget textwidget">
                    <h5 class="title">Pojokan ++</h5>
                    <p>Download Ebook panduan <strong>"Menghasilkan Uang Dari Ngeblog"</strong> ini gratis! hanya untuk kamu. Jika kamu ada pertanyaan, saran ataupun ingin berkenalan, <a href="https://www.twitter.com/irfnrdh/">hubungi saya disini</a>.</p> 
                    <a href="#">Download Ebook Gratis</a>                    
                </div>
                </div>
            </div>

            <div class="copyright">
                <p class="pull-left">
                Copyright © 2017 - {{ site.time | date: "%Y" }}.
                </p>
                <p class="pull-right">
                <a target="_blank" href="{{ site.baseurl }}">"{{ site.name }}"</a> - karena ngeblog itu terdapat banyak kebaikan.
                </p>
                <div class="clearfix"></div>
            </div>

        </div>

    </footer>
    <!-- End Footer
    ================================================== -->